:root {
	--font-1: "Bona Nova SC";
	--font-2: "Faculty Glyphic";
	--font-3: "Itim";
	--font-4: "Montserrat";
	--font-5: "Raleway";
	--main-bg: #222;
	--panel-bg: #444;
	--input-bg: #333;
	--shadow-1: rgba(130, 100, 154, 0.8);
	font-weight: 400;
	color-scheme: dark dark;
	background-color: var(--main-bg);

	--highlight-1: #3bf5ff;
	--highlight-2: #ac1ee9;
	--highlight-1a: #5c3bff;
	--highlight-2a: #e91e76;
	--lowlight-1a: #ff1515;
	--lowlight-2a: #ffee00;
}
#root {
	height: 100vh;
	overflow: hidden;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font-5), serif;
}

body,
html {
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

button {
	font-family: var(--font-4), serif;
	padding: 5px 10px;
	max-width: 120px;
	cursor: pointer;
	font-size: 16px;
	position: relative;
	border: 1px solid transparent;
	border-radius: 5px;
	font-weight: 400;
	background-color: transparent;
	color: #bbb;
}
button:disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
button::after {
	content: "";
	position: absolute;
	top: -1.5px;
	left: -1.5px;
	width: 100%;
	height: 100%;
	background: linear-gradient(179deg, var(--highlight-1), var(--highlight-2))
		border-box;
	mask: linear-gradient(white, white) padding-box, linear-gradient(white, white);
	mask-composite: exclude;
	border-radius: inherit;
	border: inherit;
	border-style: inherit;
}
button:disabled::after {
	background: linear-gradient(90deg, rgb(234, 255, 0), red) border-box;
	animation: pulse-disabled 1s infinite;
}
button:hover {
	box-shadow: 0px 0px 14px 4px var(--shadow-1);
}

@media (prefers-color-scheme: light) {
	:root {
		--main-bg: #f9f9f9;
		--panel-bg: #fff;
		--primary-color: #646cff;
		color: #3f3f3f;
		background-color: var(--main-bg);
	}
}
textarea,
input {
	border-radius: 7.5px;
	font-family: var(--font-4), serif;
	font-weight: 300;
	background-color: var(--panel-bg);
	resize: none;
	padding: 10px;
}
/* animation pulse */
@keyframes pulse {
	0% {
		background: linear-gradient(0deg, var(--highlight-1a), var(--highlight-2a));
		transform: scale(1);
	}
	10% {
		background: linear-gradient(
			36deg,
			var(--highlight-1a),
			var(--highlight-2a)
		);
	}
	20% {
		background: linear-gradient(
			72deg,
			var(--highlight-1a),
			var(--highlight-2a)
		);
	}
	30% {
		background: linear-gradient(
			108deg,
			var(--highlight-1a),
			var(--highlight-2a)
		);
	}
	40% {
		background: linear-gradient(
			144deg,
			var(--highlight-1a),
			var(--highlight-2a)
		);
	}
	50% {
		background: linear-gradient(
			180deg,
			var(--highlight-1a),
			var(--highlight-2a)
		);
		transform: scale(0.95);
	}
	60% {
		background: linear-gradient(
			216deg,
			var(--highlight-1a),
			var(--highlight-2a)
		);
	}
	70% {
		background: linear-gradient(
			252deg,
			var(--highlight-1a),
			var(--highlight-2a)
		);
	}
	80% {
		background: linear-gradient(
			288deg,
			var(--highlight-1a),
			var(--highlight-2a)
		);
	}
	90% {
		background: linear-gradient(
			324deg,
			var(--highlight-1a),
			var(--highlight-2a)
		);
	}
	100% {
		background: linear-gradient(
			360deg,
			var(--highlight-1a),
			var(--highlight-2a)
		);
		transform: scale(1);
	}
}
@keyframes pulse-disabled {
	0% {
		background: linear-gradient(0deg, var(--lowlight-1a), var(--lowlight-2a));
		transform: scale(1);
	}
	10% {
		background: linear-gradient(36deg, var(--lowlight-1a), var(--lowlight-2a));
	}
	20% {
		background: linear-gradient(72deg, var(--lowlight-1a), var(--lowlight-2a));
	}
	30% {
		background: linear-gradient(108deg, var(--lowlight-1a), var(--lowlight-2a));
	}
	40% {
		background: linear-gradient(144deg, var(--lowlight-1a), var(--lowlight-2a));
	}
	50% {
		background: linear-gradient(180deg, var(--lowlight-1a), var(--lowlight-2a));
		transform: scale(0.95);
	}
	60% {
		background: linear-gradient(216deg, var(--lowlight-1a), var(--lowlight-2a));
	}
	70% {
		background: linear-gradient(252deg, var(--lowlight-1a), var(--lowlight-2a));
	}
	80% {
		background: linear-gradient(288deg, var(--lowlight-1a), var(--lowlight-2a));
	}
	90% {
		background: linear-gradient(324deg, var(--lowlight-1a), var(--lowlight-2a));
	}
	100% {
		background: linear-gradient(360deg, var(--lowlight-1a), var(--lowlight-2a));
		transform: scale(1);
	}
}
